

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div{
    width: 70%;
    height: 70%;
    margin-left: 15%;
    font-family: "Libre Baskerville", serif;
    color: white;
    text-align: center;
}

body{
    background-color: black;
}